body{
    background: #fafbfc;
    color: black;
}

.header{
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor{
    margin-bottom: 20px;
}

.main{
    background: #fff;
    color: black;
    padding: 20px;
}

.aside{
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a4;
}

.widgets{
    background: #fff;
    color: #424242;
    margin-bottom: 20px;
}

.widgets > div{
    background: #2196f3;
    color: #fff;
    padding:20px ;
}

.footer{
    padding: 20px 0;
    background: #1e1e1e;
    color: white;
    text-align: center;
}